In [1]:
# Import Library.
import pandas as pd

In [2]:
# Read file.
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

#### Total sum of Animal fat produced in 2014 and 2017 respectively.

In [3]:
df.groupby(['Item'])['Y2014', 'Y2017'].sum().loc['Animal fats']

# A more extensive moethod.
# df.groupby("Item").agg({'Y2014': 'sum', 'Y2017': 'sum'}).loc['Animal fats']

C:\Users\famou\AppData\Local\Temp/ipykernel_10964/884512831.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Item'])['Y2014', 'Y2017'].sum().loc['Animal fats']

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

#### Total number and percentage of missing data in 2016 to 2 decimal places.

In [4]:
missing_data_count = len(df[df['Y2016'].isnull()])
percent_missing = round( (missing_data_count*100 / len(df)), 2)
missing_data_count, percent_missing

(1535, 2.52)

#### Correlation matrix.

In [5]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

#### Year with the highest sum of import Quantity.

In [6]:
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
filt = df.groupby(['Element'])[years].sum().loc['Import Quantity']
filt.idxmax()

'Y2017'

#### Total number of the sum of production in 2014.

In [7]:
df.groupby(['Element'])['Y2014'].sum().loc['Production']

1931287.75

#### Highest sum in 2018.

In [8]:
filt2 = df.groupby(['Element'])['Y2018'].sum()
filt2.idxmax()

'Domestic supply quantity'

#### Third lowest sum in 2018.

In [9]:
filt3 = df.groupby(['Element']).sum().sort_values(by='Y2018', ascending=False)['Y2018']
filt3.iloc[[-3]]

Element
Protein supply quantity (g/capita/day)    11833.56
Name: Y2018, dtype: float64

#### Total Import Quantity in Algeria.

In [12]:
# df.groupby({'Area': 'Algeria', 'Element': 'Import Quantity'}).sum()
filt4 = (df['Area'] == 'Algeria')
x = df.loc[filt4]
x.groupby(['Element'])['Y2018'].sum().loc['Import Quantity']

36238.29

#### Total number of unique countries.

In [11]:
df['Area'].drop_duplicates().count()

49